@import "../../styles/tokens/tokens.css";

.listItem {
  --list-item-background: transparent;
  --list-item-background-hover: var(--color-white-alpha-5);
  --list-item-background-disabled: transparent;
  --list-item-gap: var(--spacing-8);
  --list-item-padding: var(--spacing-8);

  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--list-item-padding);
  border-radius: 0.5rem;
  gap: var(--list-item-gap);

  &[aria-disabled="true"] {
    background-color: var(--list-item-background-disabled);
    color: var(--color-text-disabled);

    & > svg {
      color: var(--color-icon-disabled);
    }

    .title, .description {
      color: var(--color-text-disabled);
    }
  }

  &:not(:disabled):hover {
    background-color: var(--list-item-background-hover);
  }

  & div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: auto;
  }

  .title {
    color: var(--color-text-primary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-md);
  }

  .description {
    color: var(--color-text-secondary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-sm);

    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
  }

  .button {
    background-color: var(--button-background);
    padding: var(--button-padding);
    border-radius: 0.25rem;
    color: var(--color-text-primary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-sm);
    border: none;

    &:not(:disabled):hover {
      background-color: var(--button-background-hover);
    }
  }
}