@import "../../styles/tokens/tokens.css";

.listItem {
  --list-item-background: transparent;
  --list-item-background-hover: var(--color-white-alpha-5);
  --list-item-background-disabled: transparent;
  --list-item-gap: var(--spacing-8);
  --list-item-padding: var(--spacing-8);

  list-style-type: none;
  display: flex;
  align-items: center;
  padding: var(--list-item-padding);
  border-radius: 0.5rem;
  gap: var(--list-item-gap);

  &:hover {
    background-color: var(--list-item-background-hover);
  }

  & div {
    display: flex;
    flex-direction: column;
  }

}

.title {
  color: var(--color-text-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
}

.description {
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
}