body {
    background-color: var(--color-surface);
    color: var(--color-text-primary);
    font-family: "Noto Sans", "Arial", sans-serif;
    min-height: 100vh;

}



.presentation-homepage {
  padding: var(--spacing-32);
  display: grid;
  justify-items: center;
  align-items: spce-between;
  min-height: 100vh;
}

section.link-storybook {
  align-self: end;

  & a {
    color: deeppink;
  }
}