html {
  width: 100vw;
}

body {
    background-color: var(--color-surface);
    color: var(--color-text-primary);
    font-family: "Noto Sans", "Arial", sans-serif;
    min-height: 100vh;
    max-width: 100vw;
}

.presentation-homepage {
  padding: var(--spacing-32) var(--spacing-6);
  display: grid;
  justify-items: center;
  align-items: spce-between;
  min-height: 100vh;
}

section:has(ul) {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-16) 0;
  align-items: start;
}

section.link-storybook {
  display: flex;
  align-self: end;
  padding-block-end: var(--spacing-16);

  & a {
    color: deeppink;
  }
}