@import "./tokens/tokens.css";

body {
    background-color: var(--color-surface);
    color: var(--color-text-primary);
    font-family: "Arial", sans-serif;
}

svg {
    height: var(--size-icon);
    width: var(--size-icon);
    color: var(--color-gray-1);
}
