@import "./reset.css";
@import "./tokens/tokens.css";
@import "./utilities";

body {
    background-color: var(--color-surface);
    color: var(--color-text-primary);
    font-family: "Noto Sans", "Arial", sans-serif;
}

svg {
    height: var(--size-icon);
    min-height: var(--size-icon);
    width: var(--size-icon);
    min-width: var(--size-icon);
    color: var(--color-gray-1);
}

button {
    border: none;
    cursor: pointer;
}
