@import "./colors.css";
@import "./spacing.css";

/* TODO: this would get moved to its own tokens files (typography, etc) or components CSS modules */
:root {
  --size-icon: 20px;

  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 1rem;
  --font-size-xl: 1.25rem;
  --font-weight-regular: 400;
  --line-height-sm: 1rem;
  --line-height-md: 1.25rem;

  /* TODO: this should move to its own button component */
  --button-background: var(--color-gray-5);
  --button-background-hover: var(--color-gray-4);
  --button-background-disabled: transparent;
  --button-padding: var(--spacing-2);

}